<h3 class="admin-list-title">LISTA DE LIBROS</h3>
<div class="container-row">

  {{! <a href="/admin/create"><button>Crear</button></a> }}

  {{#each this.allBooks}}
    <div class="container-details" style="background-image:url({{this.image}})">
      {{!-- <div>
      <img src="{{this.image}}" alt="Portada libro" height="200px" />
      </div> --}}
      <div class="card-info">
        <div class="card-text">
          <h4 class="card-title">{{this.title}}</h4>
          <h4>{{this.author}}</h4>
          {{!-- <h4>{{this.synopsis}}</h4> --}}
          <h5>{{this.numPag}} páginas</h5>
          <h4>{{this.genre}}</h4>
        </div>
        <div class="editar-borrar-btn">
          <div class="edita-btn">
            <a href="/admin/{{this._id}}/edit"><button>Editar</button></a>
          </div>
          <form action="/admin/{{this._id}}/delete" method="post">
            <div class="borrar-btn">
              <button>Borrar</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  {{/each}}

</div>