<h3 class="admin-list-title">LISTA DE LIBROS PRESTADOS</h3>
<div class="container-row">

  {{#each this.searchStatus}}
    <div
      class="container-details"
      style="background-image:url({{this.book.image}})"
    >
      <div class="card-info">
        <div class="card-text">
          <h3 class="card-title">{{this.book.title}}</h3>
          <h4>{{this.book.author}}</h4>
          </div>
          <div class="info-prestamo">
            <h4>Prestado a : {{this.user.username}}</h4>
            <h4>Libros en Stock : {{this.book.stock}}</h4>
          </div>
        
      </div>
    </div>
  {{/each}}

</div>