<div>
    <h3>detalles libros</h3>

 <img src="{{this.bookDetails.image}}" alt="Portada libro" height="200px" />
      <h4>{{this.bookDetails.title}}</h4>

      <h4>{{this.bookDetails.author}}</h4>
      <h4>{{this.bookDetails.synopsis}}</h4>
      <h5>{{this.bookDetails.numPag}} páginas</h5>
      <h4>{{this.bookDetails.genre}}</h4>

      <form action="/book/{{this.bookDetails._id}}/prestado" method="post">
      {{#if this.bookDetails.stock}}
    <button>Prestar</button>
    {{else}}
    <button disabled="disabled">Prestar</button>
    {{/if}}
</form>
</div>