<div>

<h3>Resultado de búsqueda</h3>

<div>
{{#each this.searchBook}}

<li>
     <a href="/book/{{this._id}}/details"><img src="{{this.image}}" alt="Portada libro" height="200px" /></a> 
      <h4>{{this.title}}</h4>
      <h4>{{this.author}}</h4>
      <h5>{{this.genre}}</h5>
</li>

{{/each}}
    
</div>

</div>